* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
}

div.container {
    width: 65%;
    margin: auto;
}

header .logo {
    width: 15%;
    padding-right: 5px;
    border-right: 0.5px solid lightgray;
    margin-bottom: 15px;
}

.logo > img {
    width: 100%;
}

nav > ul > li {
    display: inline-block;
    margin-right: 5px;
}

nav > ul a {
    text-decoration: none;
    color: gray;
    text-transform: uppercase;
    font-size: 13px;    
}

.container > main > section {
    margin-top: 30px;
}

main > section.hero {
    background-image: url(img/banner.jpg);
    background-position: center;
    background-size: 80%;
    padding: 200px 0 30px 30px;
    border-radius: 20px;
}

.hero > div {
    width: 55%;
    color: rgb(63, 62, 62);
    
}

main > section.clearflix::after {
    display: table;
    content: "";
    clear: both;
}

main > section.leadership {
    padding-bottom: 10px;
    margin-bottom: 10px;
}

section > div.leadership-up {
    margin-bottom: 30px;
}

.leadership h1 {
    margin-bottom: 5px;
}

.leadership p {
    color: gray;
}

section > .float-lf, section > .float-rg {
    width: 20%;
}

main > section > .float-c {
    width: calc(100% - 40% - 30px); /* 100% -(i margini) - (le due sezioni laterali) */
    margin: 0 15px;
}

 div.float-lf, div.float-c, div.float-rg {
    float: left;
}

.leadership .bg-image {
    height: 180px;  
    margin-bottom: 15px;
    background-position: center;
}

.float-lf .bg-image {
    background-image: url(img/img-1.jpg);
    background-size: cover;   
}

.float-rg .bg-image {
    background-image: url(img/img-3.jpg);
}

.float-c .bg-image {
    background-image: url(img/banner-2.jpg);
    background-size: cover;
}

.layover {
    height: 100%;
    background-color: rgba(33, 33, 33, 0.2);
    border-radius: 20px;
}

.leadership h4 {
    margin-bottom: 10px;
}


footer {
    line-height: 50px;
    text-align: center;
}

footer > span::after {
    color: red;
    content: "\2764";
}

