* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    font-family: 'Roboto', sans-serif;;
}

div.container {
    width: 50%;
    margin: auto;
}


header .logo {
    width: 15%;
    padding-right: 5px;
    border-right: 0.5px solid lightgray;
    margin-bottom: 10px;
}

.logo > img {
    width: 100%;
}

nav > ul > li {
    display: inline-block;
    margin-right: 5px;
}

nav > ul a {
    text-decoration: none;
    color: gray;
    text-transform: uppercase;
    font-size: 13px;
    
}



.container > main > section {
    margin-top: 10px;
}

main > section.background {
    background-color: rgb(224, 214, 134);
    height: 250px;
}

main > section.clearflix::after {
    display: table;
    content: "";
    clear: both;
}

main > section.background-lb {
    background-color: rgb(54, 136, 248);
    padding-bottom: 10px;
    margin-bottom: 5px;
}

section > div:first-child {
    height: 50px;
    background-color: rgb(178, 206, 228);
    margin-bottom: 10px;
}

section > .float-lf, section > .float-rh {
    width: 20%;
}

main > section > .float-c {
    width: calc(100% - 40% - 20px); /* 100% -(i margini) - (le due sezioni laterali) */
    margin: 0 10px;
}

 div.float-lf, div.float-c, div.float-rh {
    float: left;
    height: 300px;
    background-color: rgb(178, 206, 228);
}

.container > footer {
    height: 40px;
    background-color: rgb(122, 41, 234);
}

